*.iml
.gradle
/local.properties
/.idea/
.idea/workspace.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/deploymentTargetSelector.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/runConfigurations/
/build
/app/build
*.apk
*.aar
*.aab
.kotlin
.vscode
*.log
*.txt
*.png
*.html
*.pem
/magaza_cevirileri/
/magaza_kisa_aciklama_tr.txt
/magaza_aciklamasi_tr.txt
/all_files.txt
/build_errors.txt
/build_log.txt
/build_log_2.txt
/build_log_3.txt
/build_log_output.txt
/crash_log.txt
/diller.txt
/view.xml
spotify_full.json
/app/src/main/assets/streaming_prices_backup.json
